.scrollComponent{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: white;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 80%;
    /* background-color: rgb(0, 0, 255); */
}

.createPostContainer{
    display: flex;
    height: 10svh;
    padding-inline: 0.8rem;
    width: 100%;
    gap: 0.5rem;
    align-items: center;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    position: relative;
    border: 1px solid grey;
}
.userProfile{
    border-radius: 100%;
    height: 100%;
    width: 100%;
    cursor: pointer;
    min-width: 1rem;
}

.Fab{
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.Fab > svg{
    width:100%;
    height: 40px;
}

.textAreaOfContent{
    font-size: large;
    background: #000;
    color: white;
    width: 100%;
    height: 70%;
    border: 1px solid silver;
    border-radius:10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
}

.uploadButton{
    position: absolute;
    right: 0px;
    bottom: -35px;
    border: 1px solid grey;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.4rem;
    border-radius: 10px;
    cursor: pointer;
}

.previewUploadFile{
    position: absolute;
    right: 90px;
    top:83px;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 2rem;
    padding-block: 0.5rem;
}

.postsContainer{
    max-width: 100%;
}

.singleCard{
    width:100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179,179,179);
    /* background-color: aqua; */
}

.singleCard_profileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
    width: 100%;
    position: relative;
}


.singleCard_image{
    width:100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
    object-fit: cover;
}

.postMedia{
    width: 70%;
    border: none;
    border-radius: 20px;
}

.edit{
    margin-left: auto;
    border-radius: 30%;
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.edit:hover{
    background-color: rgb(58, 58, 58);
}

.deleteButton{
    position: absolute;
    right: 55px;
    top:50px;
    background-color: rgb(48, 48, 48);
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.4rem;
    border-radius: 10px;
    cursor: pointer;
}

.statsContainer{
    display: flex;
    height: 20%;
    width: 100%;
    color: rgb(193, 193, 193);
    padding-block: 0.3rem;
}

.singleOption_statsContainer{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.singleOption_statsContainer > svg{
    cursor: pointer;
    height: 60%;
    width: 8%;
}


.commentsContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgb(0,0,0,0.7);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allCommentsContainer{
    width: 40vw;
    height: 70vh;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.allCommentsContainer_scroll {
  flex: 1; /* Take up all space above the input */
  overflow-y: auto;
  margin-bottom: 4rem;
  padding-right: 0.5rem;
}

.postCommentContainer{
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.allCommentsContainer_scroll::-webkit-scrollbar {
  width: 6px;
}

.allCommentsContainer_scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.postCommentContainer>input{
    flex: 1.2;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    border: none;
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
    font-size:medium;
}

.postCommentContainer_commentBtn{
    flex: 0.1;
    color: white;
    background-color: rgb(13, 130, 176);
    padding-inline: 0.8rem;
    padding-block: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.disabledPostBtn{
    opacity: 0.5;
}

.postUserDetails{
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
}

.postImageContainer{
    width: 120px;
    height: 56px;
}

.postImageTag{
    width: 3.3rem;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
    min-width: 3rem;
}

.postTextBody{
    padding-top: 1.3rem;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    overflow: clip;
}

.commentImageContainer{
    color: black;
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.commentImage{
    width: 2.5rem;
    height: 3rem;
    border-radius: 100%;
    padding-block: 7px;
}

@media only screen and (max-width:600px){
    .allCommentsContainer{
        width: 90svw;
    }
    .postCommentContainer{
        width: 70%;
        display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 0;
    left: 2.7rem;
    }
    .allCommentsContainer_scroll > img{
        display: none;
    }
    .singleCard_image{
        width: 100%;
    }
    .imgDiv{
        display: none;
    }
    .postUsername{
        display:none;
    }
    .postUserDetails{
        flex-direction: column;
        gap: 0;
    }
    .postImageContainer{
        width: 3rem;
    }
    .singleCard_profileContainer{
        padding: 0.4rem;
        gap: 0.5rem;
    }
    .postImageTag{
        height: 90%;
        width: 3rem;
    }
    .deleteButton{
        right: 0;
        top: 35px;
    }

}