.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90svh;
    background: rgb(0, 0, 0);
    padding-top: 80px;
    height: 100vh;
}
.cardContainer{
    height:80vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    background: rgb(0, 0, 0);
    box-shadow: 10px 10px 15px 10px rgb(141, 141, 141);
    color: white;
    
}

.cardContainer_left{
    flex:0.6;
    padding: 2rem;
    text-align: center;
    
}

.cardContainer_right{
    flex:0.4;
    background: rgb(69, 47, 91);
    display: flex;
    justify-content: center;
    color:white;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.cardleft_heading{
    font-weight: bold;
    font-size: 1.8rem;
}

.inputField{
    padding-inline: 1.3rem;
    padding-block: 0.6rem;
    outline: none;
    border: 1px solid silver;
    border-radius: 10px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1rem;
}

.inputRow{
    width: fit-content;
    display: flex;
    gap: 1.2rem;
}

.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:1.3rem;
    margin: 0 auto;
    gap: 1.5rem;
    max-width: 400px;
}

.buttonWithOutline{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 100%;
    margin-top: 7px;
    border: 1px solid grey;
}