.allUserProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.userCard{
    width: 250px;
    height: 300px;
    border-radius: 15px;
    background-color: rgb(92, 92, 92);
    cursor: pointer;
    overflow: scroll;
}

.userCard > img{
    width: 250px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
}

@media only screen and (max-width:600px){
    .userCard{
        width: 150px;
        height: 200px;
        overflow: hidden;
    }
    .userCard>img{
        width: 150px;
        height: 150px;
    }
}