.container{
    padding: 1.3rem;
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.upperHalf{
    display: flex;
    flex-direction: row;
    padding: 1.3rem;
    gap: 2rem;
    width: 100%;
}

.lowerHalf{
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    
}

.leftSide{
    flex:0.4;
    width: 100%;

}
.imageContainer{
   border: 1px solid grey;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.imageContainer > img{
    width: 100%;
    padding-inline: 1rem;
}
.imageContainer > p{
    background: rgb(78, 78, 78);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    font-size: larger;
    padding-inline: 1rem;
    padding-block: 0.1rem;
    border: 1px solid grey;
}
.rightSide{
    flex:0.6;
    min-height: 450px;
    height: fit-content;
    padding-bottom: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    gap: 1rem;
    flex-direction: column;
    min-width: 200px;
}

.infoHeading{
    background: rgb(78, 78, 78);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    font-size: larger;
    padding-inline: 1rem;
    padding-block: 0.1rem;
}


.recentActivityHeading{
    border: 1px solid grey;
    padding-inline: 1rem;
    width: fit-content;
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: grey;
}



@media only screen and (max-width:600px){
    .upperHalf{
        flex-direction: column;
    }
}